body {
    background-color: #fcfcfc;
}

#title, .subtitle, .post_title {
    color: blue;
}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background-color:#fff;
    padding: 15px;
    border: 2px solid #505050;
    border-radius: 5px;
    margin: 15px;
}

.post_title {
    margin: none;
    margin-bottom: 15px;
}

.body_post {
    margin: none;
    margin-top: 15px;
}

.imagem {
    border-radius: 5px;
}